body {
	font-family: Lato;
}

#header {
	font-weight: bold;
	font-size: 28px;
	margin-bottom: 12px;
}

canvas {
	border-style: solid;
	border-width: 2px;
	border-color: #000;
	border-radius: 8px;
	margin-bottom: 8px;
}

.hidden {
	display: none;
}
